* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #0288D1 !important;
}

.navbar-brand{
    color: white !important;
}
.navbar-brand span{
    color: #B3E5FC;
}
#nav {
    background-color: #03A9F4;
}

.nav-item {
    display: block;
}

#title {
    background-color: #0288D1;
}

#title div {
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

#title span {
    color: #B3E5FC;
}

.table_responsive{
    overflow: scroll;
    max-height: 300px ;
}

.nav-item {
    font-size: 23px;
}

.nav>.active>a {
    color: rgba(30, 3, 126, 0.979);
}

#listManager {
    font-weight: bolder;
    font-size: x-large;
    padding-top: 4px;
}

#all {
    font-weight: bolder;
    padding: 10px 0;
}

#next {
    background-color: rgb(176, 189, 189);
}

#title_popup {
    font-weight: bold;
    font-size: xx-large;
}

.required:after {
    content: "*";
    color: red;
}

#paging>.active>a {
    background-color: red;
    outline-color: red;
}

#mainTable {
    text-align: center;
}

#buttonAdd2 {
    background-color: #3f77f1;
}

#buttonAdd1 {
    background-color: #12d332;
}

#buttonAdd3 {
    background-color: rgb(225, 22, 107);
}